<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lextrack">

    <!-- Required for network requests (http package + url_launcher) -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Required for url_launcher on Android 11+ (API 30+)           -->
    <!-- Without this, canLaunchUrl() always returns false             -->
    <queries>
        <!-- Allow launching any https:// URL in the default browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <!-- Allow launching any http:// URL -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
    </queries>

    <application
        android:label="LexTrack"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>
</manifest>